<div class="container-fluid mt-4" style="width: 95%;">
  <h2>Gestión de Clientes</h2>

  <div class="d-flex justify-content-between mb-3">
    <button type="button" class="btn btn-primary" (click)="toggleForm()">
      Agregar Cliente
    </button>
  </div>

  <table class="table table-striped table-bordered mt-3">
    <thead class="table-dark">
      <tr style="text-align: center;">
        <th>#</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Dirección</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes; let i = index" style="text-align: center;">
        <td>{{ i + 1 }}</td>
        <td>{{ cliente.nombre }}</td>
        <td>{{ cliente.apellido }}</td>
        <td>{{ cliente.email }}</td>
        <td>{{ cliente.telefono }}</td>
        <td>{{ cliente.direccion }}</td>
        <td>
          <button class="btn btn-primary btn-sm me-1" (click)="editCliente(cliente)">
            <i class="fa fa-edit"></i> Editar
          </button>
          <button class="btn btn-danger btn-sm me-1" (click)="cliente.id_cliente ? deleteCliente(cliente.id_cliente) : null">
            <i class="fa fa-trash"></i> Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal Cliente -->
  <div class="modal fade" id="vueloModal" tabindex="-1" aria-labelledby="vueloModalLabel" aria-hidden="true" #vueloModal>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="vueloModalLabel">{{ textoModal }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
          <div class="modal-body" *ngIf="showForm">
          <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">
            <input type="hidden" readonly formControlName="id" />
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input id="nombre" class="form-control" formControlName="nombre" />

              <label for="apellido">Apellido</label>
              <input id="apellido" class="form-control" formControlName="apellido" />

              <label for="email">Email</label>
              <input id="email" class="form-control" formControlName="email" />

              <label for="telefono">Telefono</label>
              <input id="telefono" class="form-control" formControlName="telefono" />

              <label for="direccion">Direccion</label>
              <input id="direccion" type="date" class="form-control" formControlName="direccion" />
            </div>
            <button type="submit" class="btn btn-success mt-3" [disabled]="clienteForm.invalid">
              Guardar
            </button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
